<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Builder.io</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#/beranda">Beranda</a></li>
                <li><a href="#/hubungi-kami">Kelola Sampah</a></li>
                <li><a href="#/tentang-kami">Tentang Kami</a></li>
                </ul>
        </nav>
    </header>
    <main id="mainContent">

    </main>
</body>
</html>