.jumbtrone-tentangkami {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
  }
  
  .jumbtrone-tentangkami p {
    font-size: 18px;
    color: #617a55;
  }
  
  .logo-wrap-tentangkami {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo-wrap-tentangkami p {
    text-align: center;
    width: 200px;
    font-weight: bold;
    color: #379237;
  }
  
  .logo-tentangkami {
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../public/favicon.png");
    margin-bottom: 10px;
  }
  
  .team-wrap-tentangkami {
    width: 80%;
    margin: auto;
    padding-bottom: 100px;
  }
  
  .team-wrap-tentangkami h2 {
    text-align: center;
    color: #617a55;
    font-size: 24px;
  }
  
  .team-wrap-tentangkami hr {
    border: none;
    margin: 20px auto 40px auto;
    width: 150px;
    height: 5px;
    background-color: #9dff51;
  }
  
  .team-group {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
  }
  
  .team-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 22%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 28px 10px -20px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    border: 1px solid black;
  }
  
  .team-item:hover {
    transform: translateY(-40px);
    box-shadow: 0px 80px 10px -40px rgba(0, 0, 0, 0.18);
  }
  
  .team-header {
    height: 80px;
    background-color: #379237;
  }
  
  .team-image {
    display: flex;
    align-self: center;
    position: absolute;
    top: 30px;
    width: 90px;
    height: 90px;
    background-color: grey;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
  }
  
  .team-body {
    box-sizing: border-box;
    padding-top: 40px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .team-body p {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .team-body .sosmed {
    display: flex;
    gap: 15px;
  }
  
  .team-body .sosmed a {
    color: black;
    font-size: 28px;
  }
  
  .team1 {
    background-size: 110%;
    background-position: -3px -7px;
    background-image: url("../public/arip.jpg");
  }
  
  .team2 {
    background-size: 200%;
    background-position: -45px -15px;
    background-image: url("../public/lanang.jpeg");
  }
  
  .team3 {
    background-size: 320%;
    background-image: url("../public/inggita.JPG");
    background-position: -95px -132px;
  }
  
  .team4 {
    background-image: url("../public/ma.jpg");
    background-position: -22px -42px;
    background-size: 150%;
  }
  
  @media (max-width: 768px) {
    .jumbtrone-tentangkami {
      padding-top: 50px;
      width: 90%;
    }
  
    .jumbtrone-tentangkami p {
      font-size: 16px;
    }
  
    .logo-tentangkami {
      width: 100px;
      height: 100px;
    }
  
    .team-wrap-tentangkami h2 {
      font-size: 22px;
    }
  
    .team-wrap-tentangkami hr {
      width: 140px;
      height: 4px;
    }
  
    .team-group {
      display: flex;
      flex-wrap: wrap;
      gap: 20px 0px;
      justify-content: space-evenly;
    }
  
    .team-item {
      width: 40%;
    }
  
    .team-image {
      top: 30px;
      left: 67px;
    }
  
    .team-body p {
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 425px) {
    .jumbtrone-tentangkami {
      /* background-color: aqua; */
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-top: 20px;
    }
  
    .jumbtrone-tentangkami p {
      text-align: justify;
      font-size: 14px;
    }
  
    .logo-wrap-tentangkami p {
      text-align: center;
    }
  
    .logo-tentangkami {
      width: 100px;
      height: 100px;
    }
  
    .team-wrap-tentangkami {
      width: 100%;
    }
  
    .team-wrap-tentangkami h2 {
      font-size: 20px;
    }
  
    .team-wrap-tentangkami hr {
      width: 130px;
      height: 3px;
    }
  
    .team-group {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
  
    .team-item {
      width: 65%;
    }
  
    .team-item:hover {
      transform: translateY(-40px);
      box-shadow: 0px 80px 10px -40px rgba(0, 0, 0, 0.18);
    }
  
    .team-header {
      height: 80px;
      background-color: #379237;
    }
  
    .team-image {
      position: absolute;
      top: 30px;
      left: 70px;
      width: 90px;
      height: 90px;
      background-color: grey;
      border-radius: 50%;
      overflow: hidden;
      background-size: cover;
    }
  
    .team-body {
      box-sizing: border-box;
      padding-top: 40px;
      height: 210px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .team-body p {
      text-align: center;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 10px;
    }
  
    .team-body .sosmed {
      display: flex;
      gap: 15px;
    }
  
    .team-body .sosmed a {
      color: black;
      font-size: 28px;
    }
  
    .team1 {
      background-size: 110%;
      background-position: -3px -7px;
      background-image: url("../public/arip.jpg");
    }
  
    .team2 {
      background-size: 200%;
      background-position: -45px -15px;
      background-image: url("../public/lanang.jpeg");
    }
  
    .team3 {
      background-size: 320%;
      background-image: url("../public/inggita.JPG");
      background-position: -95px -132px;
    }
  
    .team4 {
      background-image: url("../public/ma.jpg");
      background-position: -22px -42px;
      background-size: 150%;
    }
  }
  